<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pepperoni Pizza Shop</title>
    <style>
        .error {font-style: italic;color: red}
    </style>
</head>
<body>
<header th:insert="~{fragments/nav.html}"></header>

<!--/*@thymesVar id="order" type="pizzaTime.entities.CustomerOrder"*/-->
<div>
    <!-- TODO: Step 6 - this page needs to be completed -->
    <form method="post" th:object="${order}">
        <div>
        Order #:<span th:text="*{id}"></span>
        </div>
        <div>
            <label>Sub Total: <span th:text="${#numbers.formatCurrency(order.subTotal)}"></span></label>
        </div>
        <div>
            <label>HST: <span th:text="${#numbers.formatCurrency(order.hst)}"></span></label>
        </div>
        <div>
            <label>Grand Total: <span th:text="${#numbers.formatCurrency(order.grandTotal)}"></span></label>
        </div>

        <div>
            <label class="label">Tip:</label>
            <input type="number" th:field="*{tip}" step="0.01" min="0" required>
            <span class="error" th:errors="*{tip}"></span>
        </div>

        <div>
            <label class="label">Payment:</label>
            <select th:field="*{paymentType}" required>
                <option value="">Select Payment</option>
                <option th:each="pt : ${PaymentTypes}"
                        th:value="${pt}"
                        th:text="${pt}"></option>
            </select>
            <span class="error" th:errors="*{paymentType}"></span>
        </div>

        <div>
            <label class="label">Delivery:</label>
            <select th:field="*{orderType}" required>
                <option value="">Select Type</option>
                <option th:each="ot : ${OrderTypes}"
                        th:value="${ot}"
                        th:text="${ot}"></option>
            </select>
        </div>
        <br>
        <input type="submit" value="Submit your order">

        <input type="hidden" th:field="*{id}">
        <!-- for validation to work properly, any fields include above need to included as 'hidden' -->
        <input type="hidden" th:field="*{subTotal}">
        <input type="hidden" th:field="*{hst}">
        <input type="hidden" th:field="*{grandTotal}">
    </form>
</div>
</body>
</html>