<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pepperoni Pizza Shop</title>
</head>
<body>
<header th:insert="fragments/nav.html"></header>

<!--/*@thymesVar id="order" type="pizzaTime.entities.CustomerOrder"*/-->
<div th:object="${order}">
    <!-- TODO: Step 5 - this page needs to be completed -->
    <table th:unless="${order.details.isEmpty()}">
        <tr>
            <th>Qty</th>
            <th>Pizza</th>
            <th>Each</th>
            <th>Total</th>
        </tr>
    </table>
    <br>
    <a th:href="@{/order/{o}/addPizza (o=${order.id})}" >
        <button>Add a Pizza</button>
    </a>
    <br><br>
    <br>
    <a th:href="@{/order/{o}/confirm (o=${order.id})}" th:unless="${order.pizzaCount == 0}">
        <button>Checkout</button>
    </a>
</div>
</body>
</html>